---
import SiteLayout from "../layouts/SiteLayout.astro"
import "../styles/global.css";
const posts = Object.values (import.meta.glob<{tags:string[]}>("./**/*.md", {eager:true}));
---

<SiteLayout title="Home">
<div class="flex flex-col items-center">
	<h1>Recent Posts</h1>
	<ul>
		{posts.map((p:any) => (<li>
			<a href={p.url}>{p.frontmatter.title}</a>
		</li>))}
	</ul>
</div>
</SiteLayout>
