---
import AllTags from "../components/AllTags.astro";
import PostLists from "../components/PostLists.astro";
import RecentPosts from "../components/RecentPosts.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
import "../styles/global.css";
---

<SiteLayout title="Home">
  <div class="flex flex-col gap-8">
    <RecentPosts/>
    <AllTags/>
  </div>
</SiteLayout>
