---
import PostLists from "../components/PostLists.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
import "../styles/global.css";
---

<SiteLayout title="Home">
  <h1 class="text-7xl font-bold capitalize">Recent Posts</h1>
  <div class="mt-16">
    <PostLists limit={10} filter="" />
  </div>
</SiteLayout>
