---
import type { Post } from "../lib/types"
import Tags from "./Tags.astro"
const tags = Object.values(import.meta.glob<Post>("../**/*.md", { eager: true }))
    .filter((p) => !!p.frontmatter.tags)
		.filter((v,i,arr) => arr.indexOf(v)===i)
    .flatMap((p) => p.frontmatter.tags)
---
<div>
	<h1 class="font-bold text-7xl mb-16">Site Tags</h1>
		<Tags tags={tags} className="flex gap-4"/>
</div>

