---
---

<nav class="flex flex-col border-r-2 border-primary-700 h-screen py-8 px-8 w-72">
	<a href="/" class="pb-8 font-bold hover:underline text-lg">Espressions</a>
	<div class="border-t-2 border-primary-700 py-8">
		<h2 class="font-bold">About Me</h2>
		<p class="ml-2">
			My name is Mathew. I like to write for fun. I hope you enjoy the things that come out of my mind :)

I also really like frappuccinos!
		</p>
	</div>
	<div class="border-t-2 border-primary-700 py-8 flex flex-col  *:hover:bg-primary-300 *:p-2 *:rounded-md">
		<a href="/poems/">poems</a>
		<a href="/prose/">prose</a>
		<a href="/plays/">plays</a>
		<a href="/essays/">essays</a>
	</div>
</nav>