---

---

<nav
  class="border-primary-700 flex h-screen w-72 flex-col border-r-2 px-8 py-8"
>
  <a href="/" class="pb-8 text-lg font-bold hover:underline">Espressions</a>
  <div class="border-primary-700 border-t-2 py-8">
    <h2 class="font-bold">About Me</h2>
    <p class="ml-2">
      My name is Mathew. I like to write for fun. I hope you enjoy the things
      that come out of my mind :) I also really like frappuccinos!
    </p>
  </div>
  <div
    class="border-primary-700 *:hover:bg-primary-300 flex flex-col border-t-2 py-8 *:rounded-md *:p-2"
  >
    <a href="/poems/">poems</a>
    <a href="/prose/">prose</a>
    <a href="/plays/">plays</a>
    <a href="/essays/">essays</a>
    <a href="/tags/">tags</a>
  </div>
</nav>
