---
---

<nav class="flex flex-col border-r-2 border-primary-700 h-screen py-8 px-20 gap-4 w-72">
	<a href="/">home</a>
	<di>
		<h2>About Me</h2>
		<p>
			My name is Mathew. I like to write for fun. I hope you enjoy the things that come out of my mind :)

I also really like frappuccinos!
		</p>
	</di>
	<a href="/poems/">poems</a>
	<a href="/shorts/">shorts</a>
	<a href="/plays/">plays</a>
	<a href="/essays/">essays</a>
</nav>