---
import Tags from "./Tags.astro";

const post = Astro.props;
const { url, frontmatter } = post.post;

const { title, tags } = frontmatter;
const date = new Date(frontmatter.date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<a href={url}>
  <div
    class="bg-primary-300 border-primary-500 hover:border-primary-600 hover:bg-primary-400 flex flex-col gap-2 rounded-md border-2 p-4"
  >
    <p>{date}</p>
    <h2 class="text-2xl font-bold">{title}</h2>
    <Tags tags={tags} />
  </div>
</a>
