---
import TagBadge from "./TagBadge.astro";

const { tags, className } = Astro.props;
---

<ul class={className ?? ""}>
  {
    tags.map((tag: string) => (
      <li>
        <TagBadge tag={tag} />
      </li>
    ))
  }
</ul>
