---
import PostLists from "../components/PostLists.astro";
import SiteLayout from "./SiteLayout.astro";
const { title, filter } = Astro.props;
---

<SiteLayout title={title}>
  <h1 class="text-7xl font-bold capitalize">{title}</h1>
  <div class="mt-16">
    <PostLists filter={filter} />
  </div>
</SiteLayout>
